$small: 0.5rem;
$medium: 1rem;
$large: 2rem;

$title-font: "Jolly Lodger", serif;
$body-font: "Alegreya Sans", Arial, Helvetica, sans-serif;
$link-font: "Lora", serif;

// F00 FF4000 FF8000 FFBF00 FF0 BFFF00 80FF00
// 40FF00 0F0 00FF40 00FF80 00FFBF 0FF 00BFFF
// 0080FF 0040FF 00F 4000FF 8000FF BF00FF F0F
$main-color: #8000FF;

@import url(//fonts.googleapis.com/css?family=Jolly+Lodger);
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(//fonts.googleapis.com/css?family=Lora);

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  font-family: $body-font;
  font-size: 1.8rem;
  
  & > div{
    width: 102.4rem;
    margin: 0 auto;
    padding: 0;
  }
}

div, p, ul{
  margin: $small;
  padding: $small;
}

h1, h2, h3, h4, h5, h6{
  margin: $small;
}

ul{
  
  li{
    list-style-type: disc;
  }
}

ol{
  
  li{
    list-style-type: decimal;
  }
}

header, footer{
  background-color: #2D2D2D;
  color: #999;

  a{
    text-decoration: none;
    font-family: $link-font;
    
    &:link, &:visited{
      color: #616161;
    }

    &:hover, &:active, &:focus{
      color: $main-color;
    }
  }
}

header, #content, footer{
  padding: $small;
}

header{
  background-color: #2D2D2D;
  
  h1{
    color: $main-color;
    font-size: 4rem;
    font-family: $title-font;
    display: inline;
    font-weight: normal;
  }

  nav{
    display: inline;
    
    ul{
      display: inline;
      position: relative;
      top: -1rem;

      li{
        display: inline;
        margin-right: $medium;
        letter-spacing: -0.1rem;

        &:last{
          margin-right: 0;
        }
      }
    }
  }
}

#content{

}

footer{

}

// General Classes

.accent{
  color: #FFF;
}

span.logo{
  color: $main-color;
  font-size: 4rem;
  font-family: $title-font;
}
