@import url(//fonts.googleapis.com/css?family=Trade+Winds);
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans);

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}
body > div {
  width: 102.4rem;
  margin: 0 auto;
  padding: 0;
}
div, p, ul {
  margin: 0.5rem;
  padding: 0.5rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
header, footer {
  background-color: #2d2d2d;
}
header a, footer a {
  text-decoration: none;
}
header a:link, footer a:link, header a:visited, footer a:visited {
  color: #616161;
}
header a:hover, footer a:hover, header a:active, footer a:active, header a:focus, footer a:focus {
  color: #dd3737;
}
header, #content, footer {
  padding: 0.5rem;
}
header {
  background-color: #2d2d2d;
}
header h1 {
  color: #dd3737;
  font-size: 4rem;
  font-family: "Trade Winds", serif;
  display: inline;
}
header nav {
  display: inline;
}
header nav ul {
  display: inline;
}
header nav ul li {
  display: inline;
  margin-right: 0.5rem;
}
header nav ul li:last {
  margin-right: 0;
}
