@import url(//fonts.googleapis.com/css?family=Jolly+Lodger);
@import url(//fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(//fonts.googleapis.com/css?family=Lora);

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
}
body > div {
  width: 102.4rem;
  margin: 0 auto;
  padding: 0;
}
body.form {
  background: #3e3e3e url("../img/bg-square.png") repeat top left;
}
body.form h2 {
  margin: 0 0 2rem 0;
  padding: 5rem 0;
  text-align: center;
  background: #2d2d2d url("../img/bg-square.png") repeat top left;
  color: #fff;
}
div, p, ul {
  margin: 0.5rem;
  padding: 0.5rem;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0.5rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 3.4rem;
}
h5 {
  font-size: 3.2rem;
}
h6 {
  font-size: 3rem;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}
header, footer {
  background-color: #2d2d2d;
  color: #999;
}
header a, footer a {
  text-decoration: none;
  font-family: "Lora", serif;
}
header a:link, footer a:link, header a:visited, footer a:visited {
  color: #616161;
}
header a:hover, footer a:hover, header a:active, footer a:active, header a:focus, footer a:focus {
  color: #8000ff;
}
header, #content, footer {
  padding: 0.5rem;
}
header {
  background-color: #2d2d2d;
}
header h1 {
  color: #8000ff;
  font-family: "Jolly Lodger", serif;
  display: inline;
  font-weight: normal;
}
header nav {
  display: inline;
}
header nav ul {
  display: inline;
  position: relative;
  top: -1rem;
}
header nav ul li {
  display: inline;
  margin-right: 1rem;
  letter-spacing: -0.1rem;
}
header nav ul li:last {
  margin-right: 0;
}
#content h2, #content h3, #content h4, #content h5, #content h6 {
  margin: 0.5rem 0;
}
form {
  border: 0.1rem solid #aaa;
  background-color: #f4f4f4;
  margin: 0 auto;
  width: 70rem;
}
label {
  color: #666;
  line-height: 1.5;
  margin-top: 1rem;
  display: block;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="file"], select, textarea, label {
  margin-left: 1.5rem;
}
input[type="checkbox"] {
  margin-top: 2rem;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"], select, textarea {
  padding: 0.4rem;
  border: 0.1rem solid #ddd;
  box-shadow: 0 0 0.4rem #eee inset;
}
input[type="text"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="email"]:hover, select:hover, textarea:hover, input[type="text"]:active, input[type="number"]:active, input[type="password"]:active, input[type="email"]:active, select:active, textarea:active, input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus, select:focus, textarea:focus {
  border: 0.1rem solid #888;
}
input[type="text"], input[type="number"], input[type="password"], input[type="email"], select[size], textarea {
  width: 30rem;
}
input[type="submit"], input[type="image"], button {
  background-color: #ecf0f1;
  border: 0.1rem solid #b3b3b3;
  transition: all 200ms ease-in-out 0s;
  color: #333;
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 2.1rem;
  font-size: 1.8rem;
  margin: 0;
}
input[type="submit"]:hover, input[type="image"]:hover, button:hover, input[type="submit"]:active, input[type="image"]:active, button:active, input[type="submit"]:focus, input[type="image"]:focus, button:focus {
  background-color: #bdc3c7;
  border: 0.1rem solid #808080;
}
select {
  margin-right: 0.5rem;
}
option {
  margin: 0.4rem;
  padding: 0.1rem;
}
.accent {
  color: #fff;
}
span.logo {
  color: #8000ff;
  font-size: 4rem;
  font-family: "Jolly Lodger", serif;
}
